# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
build.gradle
settings.gradle
BuildJar.bat
run.bat
gradlew
gradlew.bat

# other
eclipse
run
README.txt
LICENSE.txt
CREDITS.txt
changelog.txt

# Files from Forge MDK
forge*changelog.txt
